<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit <%= book.title %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit a Book!</h1>

<form>
    <label for="Author">Author:</label>
    <input type="text" name="Author" id="Author" value="<%= book.Author %>" />

    <label for="Title">Title:</label>
    <input type="text" name="Title" id="Title" value="<%= book.Title %>" />

    <label for="ISBN">ISBN:</label>
    <input type="text" name="ISBN" id="ISBN" value="<%= book.ISBN %>" />

    <label for="PuplicationYear">Puplication Year:</label>
    <input type="Date" name="PuplicationYear" id="PuplicationYear" value="<%= book.PuplicationYear %>" />

    <label for="Description">Description:</label>
    <input type="text" name="Description" id="Description" value="<%= book.Description %>" />

    <label for="CoverImg">CoverImg:</label>
    <input type="file" accept="image/*" name="CoverImg" id="CoverImg" value="<%= book.CoverImg %>" />

    <label for="Pages">Pages:</label>
    <input type="number" name="pages" id="pages" value="<%= book.Pages%>" />

    <label for="AvailableCopies">Available Copies:</label>
    <input type="number" name="AvailableCopies" id="AvailableCopies" value="<%= book.AvailableCopies %>" />

    <label for="category">Category:</label>
    <select name="category" id="category" required>
      <option value="">Select a category <%= book.category %></option>
    </select>

    <label for="specificGenre">The Specific Genre:</label>
    <input type="text" name="specificGenre" id="specificGenre" value="<%= book.specificGenre%>" />

    
    <button type="submit">Update Book</button>
  </form>
  
  </body>
</html>