<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= book.title %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>A Book Details</h1>
    <h2><%= book.title %></h2>
    <img src=<%= book.CoverImg %> alt="Description of the image" width="500" height="auto">
    <p>Author <%= book.Author %></p>
    <p>Description <%= book.Description %></p>
    <p>Pages: <%= book.pages %></p>
    <p>Category: <%= book.category %></p>
    <p>The Specific Genre: <%=book.specificGenre %></p>
    <p>Available Copies: <%= book.AvailableCopies %></p>
    <p>ISBN: <%= book.isbn %></p>
    <p>Added By: <%= book.userType %> </p>
    
    
  </body>
</html>